.avatar {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.name, .position {
  line-height: 45px;
  margin: 0 20px;
}
.background{
  background-color: ghostwhite;
}

.tooltip {
  position: absolute;
  top:0;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  border-radius: 50%;
  line-height: 20px;
  margin: 10px 0;
  display: none;
  padding: 0px 4px 2px;
}

.tooltip-active {
  display: block;
}